.vscode/**
.vscode-test/**
.github/**
.galaxy/**
documents/**
out/**
node_modules/**
!node_modules/playwright-core/**
src/**
test/**
scripts/**
webview/**
.gitignore
.yarnrc
figma-imports.jsonl
*.vsix
ARCHITECTURE.md
README_vi.md
esbuild.js
vite.config.ts
tailwind.config.ts
postcss.config.cjs
vsc-extension-quickstart.md
scripts/**
bun.lock
**/tsconfig.json
**/tsconfig.webview.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/*.tsx
**/.vscode-test.*
